@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Asap', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;

}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 450px;
}

.progress::before {
    content: '';
    background-color: rgb(148, 165, 165);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: whitesmoke;
    color: #999;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid grey;
    transition: .4s ease;
}

.circle.active {
    border-color: aqua;
}

.btn {
    background-color: aqua;
    color: whitesmoke;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.90);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}